body {
  background-color: lightgray;
}

header {
  margin: 1rem 1.2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
}

.add-project__label {
  padding: 0.5rem;
}

.add-project__input {
  margin-left: 1rem;
}

.total {
  float: right;
  border-radius: 3px;
  padding: 0.5rem;
  margin: 0;
  background-color: white;
  text-align: center;
  box-shadow: inset 1px 1px 3px gray ;

  p {
    font-size: 0.8rem;
    margin: 0;
  }

  p:first-child {
    font-weight: bold;
  }

  p:last-child {
    color: gray;
    font-size: 0.7rem;
  }
}

.total__header {
  margin: 0;
  font-size: 1rem;
  text-align: center;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
}

.column {
  width: 16rem;
}

.column__header {
  padding: 1rem;
  background-color: gray;
  height: 3rem;
}

.column__label {
  float: left;
  color: white;
  font-size: 1.4rem;
  margin: 0.8rem 0 0 0;
}

.column__list {
  margin: 0;
  padding: 0;
}

.column__listitem {
  padding: 1rem;
  list-style: none;
  background-color: white;
  line-height: 2.2rem;
  margin-top: 2px;
}

.column__listitem_ghost {
  opacity: 0.4;
}
